<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.opentech.shoppinglist"
      android:versionCode="13"
      android:versionName="0.4.6"
      android:debuggable="true">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".ShoppingListApp" android:label="ShoppingList" android:icon="@drawable/grocery_bag">
        <activity android:name=".activities.ViewShoppingListsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ItemDetailsActivity" android:label="@string/itemdetails_name"/>
        <activity android:name=".activities.ShoppingListDetailsActivity" android:label="@string/shoppinglistdetails_name"/>
        <activity android:name=".activities.ItemListActivity" android:label="@string/itemlist_name" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShoppingListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.SettingsActivity" android:label="Settings"/>
        <activity android:name=".activities.HelpActivity" android:label="ShoppingList Help"/>
    </application>
</manifest>
